# Random comment to force a fresh build and bypass cache (change this line each time you push)
# Build ID: 20250522_2335 # **این خط را هر بار تغییر دهید**
pubchempy
rdkit-pypi
gradio==4.44.1 # یا `gradio` خالی برای آخرین نسخه
numpy==1.26.4
# pydantic<2                 # حذف شد
# fastapi>=0.100.0,<0.104.0  # حذف شد
# uvicorn>=0.22.0,<0.23.0    # حذف شد
